<!DOCTYPE html>
<html>
<!--
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="assets/stylesheets/css/grid.css"/>
    <link rel="stylesheet" href="assets/stylesheets/css/style.css"/>
    <link rel="stylesheet" href="assets/stylesheets/css/owl-carousel.css"/>
    <link rel="stylesheet" href="assets/stylesheets/navbar-cart.css"/>
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/jquery-migrate-1.2.1.js"></script>
    <script src="assets/javascripts/navbar-cart.js"></script>
    <script src="assets/javascripts/device.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
-->
  <head>
      <title>Beach Sunshade</title>
      <meta charset="utf-8"/>
      <meta name="format-detection" content="telephone=no"/>
      <%= csrf_meta_tags %>
      <!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon"/> -->
      <!-- <link rel="stylesheet" href="assets/stylesheets/css/grid.css"/> -->
      <!-- <link rel="stylesheet" href="assets/stylesheets/css/style.css"/> -->
      <!-- <link rel="stylesheet" href="assets/stylesheets/css/owl-carousel.css"/> -->
      <!-- <link rel="stylesheet" href="assets/stylesheets/navbar-cart.css"/> -->
      <!-- <script src="assets/javascripts/jquery.js"></script> -->
      <!-- <script src="assets/javascripts/jquery-migrate-1.2.1.js"></script> -->
      <!-- <script src="assets/javascripts/navbar-cart.js"></script> -->

      <!--[if lt IE 9]>
      <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a
              href="http://windows.microsoft.com/en-US/internet-explorer/.."><img
              src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
              alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
      </div>
      </html>
      <script src="js/html5shiv.js"></script><![endif]-->
      <!-- <script src="assets/javascripts/device.min.js"></script> -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid-2">
      <% if !current_page?(root_path) %>
        <%= render "common/navbar" %>
      <% end %>
      <!-- <%= render "common/flashes"%> -->
      <%= yield %>
    </div>
    <%= render "common/footer" %>

  </body>
</html>
